.product {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.imgProd {
	width: 200px;
}

.prodSingle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 400px;
}

.searchTextBox {
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid black;
	line-height: 30px;
	/* height: 34px; */
  font-size: 15px;
  /* border-radius: 50px; */
  width: 300px;
  text-align: left;
}
.searchButton {
	line-height: 35px;
	color: white;
	background-color: #3665f3;
	border: none;
	width: 80px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
input.searchTextBox:focus {
  outline-width: 0;
}

.dropdown {
  height: 35px;
}

select.dropdown:focus {
  outline-width: 0;
}